@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
* {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: whitesmoke;
  overflow: hidden;
}

div {
  display: inline-block;
}

h1 {
  color: #66cdaa;
  padding: 10px;
}

input {
  width: 100%;
  border: none;
  border-bottom: 1px dimgray solid;
  font-size: 16px;
  text-align: left;
  padding-top: 25px;
  padding: 15px;
}

.msg {
  border-radius: 8px;
  margin-left: 50%
}

.msgLeft {
  padding-left: 20px;
  border-radius: 8px;
  margin-right: 50% 
}

.left {
  background-color: #66cdaa;
  float: left;
  padding: 5px;
  border-radius: 5px;
}

.right {
  background-color: black;
  color: #66cdaa;
  float: right;
  padding: 5px;
  border-radius: 5px;

}

.App {
  border: 2px dimgray solid;
  border-radius: 15px;
  padding-bottom: 50px;
  width: 700px;
  display: inline-block;
}